<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>222018227856-p3ak34lk86mfsvo3f0vs9pcek7bdkgjj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.222018227856-p3ak34lk86mfsvo3f0vs9pcek7bdkgjj</string>
	<key>API_KEY</key>
	<string>AIzaSyBLfC6hsMckQeyPKtAp6aYJE7A2vKi1Z5w</string>
	<key>GCM_SENDER_ID</key>
	<string>222018227856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lotusfashion.demoapp</string>
	<key>PROJECT_ID</key>
	<string>demoapp-312b3</string>
	<key>STORAGE_BUCKET</key>
	<string>demoapp-312b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222018227856:ios:ec49c29429f2281b</string>
	<key>DATABASE_URL</key>
	<string>https://demoapp-312b3.firebaseio.com</string>
</dict>
</plist>